.knob-container {
  user-select: none;
  position: absolute;
  line-height: 0;
}

.indicator {
  background-color: red;
  display: inline-block;
}

.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

.line {
  height: 8px;
  width: 2px;
}
