.patch-bay-container {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid yellow;
}

.svg-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.dfam-jacks {
  position: absolute;
  top: 0;
  left: 45px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 23px;
  grid-row-gap: 23px;
  padding: 10px;
}

.mother32-jacks {
  position: absolute;
  top: 450px;
  left: 4px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 23px;
  grid-row-gap: 23px;
  padding: 10px;
}

.subharmonicon-jacks {
  position: absolute;
  top: 905px;
  left: 8px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 23px;
  grid-row-gap: 23px;
  padding: 10px;
}

.svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
