.checkbox-container {
  width: 25px;
  height: 25px;
  position: absolute;
  background-color: mistyrose;
  border-radius: 6px;
  cursor: pointer;
}

.checkbox-container input {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
}