.knob-container {
  user-select: none;
  position: absolute;
  line-height: 0;
  /* border: 1px solid yellow; */
}

.knob-container .indicator {
  display: inline-block;
}

.knob-container .indicator.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

.knob-container .indicator.line {
  height: 8px;
  width: 2px;
}
