.open-patch-container {

  padding: 2px 5px;
  margin: 2px;
  background: black;
  display: inline-block;
}

.open-patch-container:hover {
  background: black;
}

.open-patch-container:active {
  background: black;
}

.open-patch-container :invalid + span {
  color: #6f6b65;
}

.open-patch-container :valid + span {
  color: #6f6b65;
}

.open-patch-container input {
  display: none;
}