label.open-patch-container input[type="file"] {
  position:absolute;
  top: -1000px;
}

/***** Example custom styling *****/
.open-patch-container {
  border: 2px solid #AAA;
  border-radius: 4px;
  padding: 2px 5px;
  margin: 2px;
  background: #DDD;
  display: inline-block;
}
.open-patch-container:hover {
  background: #CCC;
}
.open-patch-container:active {
  background: #CCF;
}
.open-patch-container :invalid + span {
  color: #A44;
}
.open-patch-container :valid + span {
  color: #4A4;
}