.App {
  text-align: center;
}

.mss-container {
  width: 1200px;
  height: 2013px;
  border: 1px solid red;
  background-color: white;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;
  margin: 15px auto;
  padding: 0;
  background-color: black;
}

.mss-patch-black {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0.5;
  pointer-events: none;
}

.mss-header {
  color: white;
  position: absolute;
  top: 100px;
  left: 794px;
  width: 330px;
}
