.App {
  text-align: center;
}

.App .download-button {
  color: #6f6b65;
}

.App .mss-container {
  width: 1200px;
  height: 2013px;
  background-color: black;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;
  margin: 0 auto;
  padding: 0;
  background-color: black;
  position: relative;
}

.App .mss-patch-black {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0.5;
  pointer-events: none;
  position: absolute;
}
