.App {
  text-align: center;
}

.App .mss-container {
  width: 1200px;
  height: 2013px;
  background-color: black;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;
  margin: 0 auto;
  padding: 0;
  background-color: black;
  position: relative;
}
